<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Панель администрации</h1>
        <h2>Салаты</h2>

        <div th:each="salat : ${salats}">
            <a th:href="'/menu/delete-salat/' + ${salat.id}" th:text="удалить"></a>
            <p th:text="'1 ' + ${salat.title}"></p>
            <p th:text="'2 ' + ${salat.description}"></p>
            <p th:text="'3 ' + ${salat.price}"></p>
            <p>_______</p>
        </div>

        <a href="/menu/addSalat">Добавить салат</a>
        
    </section>
</body>
</html>